youtube-audio-downloader-workflow.json
{
  "name": "YouTube Audio Downloader to Azure",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "7b0f8a91-8c2d-4f42-9b3a-1e4d5f6a7b8c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://localhost:8080/download",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $node['Get YouTube URL'].json['youtube_url'] }}\",\n  \"format\": \"mp3\",\n  \"quality\": \"best\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "8c3d9e4f-5a6b-7c8d-9e0f-1a2b3c4d5e6f",
      "name": "Download YouTube Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://localhost:8080/download/{{ $node['Download YouTube Audio'].json['filename'] }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d",
      "name": "Get Audio File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "containerName": "audio-files",
        "blobName": "={{ $node['Download YouTube Audio'].json['title'].replace(/[^a-zA-Z0-9]/g, '_') }}_{{ $now.format('YYYY-MM-DD-HH-mm-ss') }}.mp3",
        "inputDataFieldName": "data",
        "additionalFields": {
          "contentType": "audio/mpeg"
        }
      },
      "credentials": {
        "azureBlobApi": {
          "id": "azure-blob-credentials",
          "name": "Azure Blob Storage"
        }
      },
      "id": "9d4e0f5a-6b7c-8d9e-0f1a-2b3c4d5e6f7a",
      "name": "Upload to Azure Blob",
      "type": "n8n-nodes-base.azureBlob",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableName": "DownloadLogs",
        "partitionKey": "=downloads",
        "rowKey": "={{ $now.format('YYYY-MM-DD-HH-mm-ss') }}-{{ $randomInt(1000, 9999) }}",
        "additionalFields": {
          "youtube_url": "={{ $node['Get YouTube URL'].json['youtube_url'] }}",
          "video_title": "={{ $node['Download YouTube Audio'].json['title'] }}",
          "blob_name": "={{ $node['Download YouTube Audio'].json['title'].replace(/[^a-zA-Z0-9]/g, '_') }}_{{ $now.format('YYYY-MM-DD-HH-mm-ss') }}.mp3",
          "file_size": "={{ $node['Download YouTube Audio'].json['file_size'] }}",
          "duration": "={{ $node['Download YouTube Audio'].json['duration'] }}",
          "download_timestamp": "={{ $now.toISO() }}",
          "status": "completed"
        }
      },
      "credentials": {
        "microsoftAzureTableStorageApi": {
          "id": "azure-table-credentials",
          "name": "Azure Table Storage"
        }
      },
      "id": "0e5f1a6b-7c8d-9e0f-1a2b-3c4d5e6f7a8b",
      "name": "Log to Table Storage",
      "type": "n8n-nodes-base.microsoftAzureTableStorage",
      "typeVersion": 1,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "youtube_url",
              "value": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            }
          ]
        },
        "options": {}
      },
      "id": "1f6a2b7c-8d9e-0f1a-2b3c-4d5e6f7a8b9c",
      "name": "Get YouTube URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        450,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get YouTube URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YouTube URL": {
      "main": [
        [
          {
            "node": "Download YouTube Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download YouTube Audio": {
      "main": [
        [
          {
            "node": "Get Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio File": {
      "main": [
        [
          {
            "node": "Upload to Azure Blob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Azure Blob": {
      "main": [
        [
          {
            "node": "Log to Table Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-27T07:30:00.000Z",
  "versionId": "1"
}